@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
body {
  overflow: hidden;
  font-family: "Montserrat";
}
.App {
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App h1 {
  font-size: 3rem;
  color: white;
}

video {
  position: absolute;
  border-radius: 10px;
  width: 250px;
  height: auto;
}
img {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  video {
    width: 100%;
    background-color: green;
    display: none;
  }
  img {
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
  }
}
